each product,i in products
    section(class = 'container__product--cart' data-product-id = 'product_' + product.id)
        .container__product-img--cart
            img(src = product.thumbnail)
        .container__product-details--cart
            h3 #{product.title}
            section.product__box--pricing
                h2(data-price = product.price) Rs. #{product.price}
                p.before-discount(data-price-before-discount = product.price + product.discountPercentage*product.price/100) Rs. #{product.price + product.discountPercentage*product.price/100}
                p.offer(data-discount = product.discountPercentage) (#{product.discountPercentage}% off) 
