@import url('https://fonts.googleapis.com/css?family=Libre%20Baskerville&display=swap');
html {
    font-size: 62.5%;
  }
  
  body{
    background-color: rgb(206, 197, 197);
    margin-left: 1rem;
    margin-top: 1rem;
  }
  *{
    margin:0 auto;
  }
.product__box{
display: inline-block;
background-color: #ffffff;
width: 41rem;
height:43rem ;
border-radius: 1.2rem;
position: relative;
}

.product__box--image{
  height: 310px;
  width: 41rem;
  border-top-right-radius: 1.1rem;
  border-top-left-radius: 1.1rem;
  

}
.product__box--details{
  display: block;
  margin-top: 1rem;
  margin-left: 1.7rem;
  font-size: 1.4rem;
  font-family:'Libre Baskerville',sans-serif;
  line-height: 2.5rem;
  
}

.product__box--brand-rating{
display: inline-flex;
gap: 3rem;
padding-top: 0.5rem;
font-size: 1.5rem;
}

.product__box--rating-cell{
display: inline-flex;
gap:0.5rem;
height: 1.743rem;
}

.product__box--pricing{
display: inline-flex;
line-height: 3.5rem;
gap:10px;
padding-top: 6px;
  
}

.product__box--pricing .before-discount{
color: #848484;
text-decoration: line-through;
font-size: 1.6rem;
}
.product__box--pricing .offer{
  color: #0A8200;
  font-size: 1.7rem;
  font-weight: bold;
 
}

.hidden{
  display: none;
}

.product__box--buttons-container{
position: absolute;
margin-left: 26.5rem;
margin-top: -4.3rem;


}
.product__box--buttons-container .button{
    border-radius: 0.3rem;
    border-style: none;
    height: 4rem;
    width: 12rem;
    border-bottom-right-radius: 1rem;
    font-family: 'Libre Baskerville',sans-serif;;
   
  }

.product__box--buttons-container .add-to-cart{
  background-color: #5fa059;
  font-size: 1.2rem;
  font-weight: bold;
}

.product__box--buttons-container .remove-from-cart{
  background-color: rgb(216, 108, 84);
  font-size: 1rem;
  font-weight: bold;
}
