@import url('https://fonts.googleapis.com/css?family=Libre%20Baskerville&display=swap');
html {
    font-size: 62.5%;
  }
  
  body{
    background-color: #F5F5F5;
    
  }
  *{
    margin:0 auto;
  }

  header{
    display:block;
    height: 8rem;
    z-index : 10000;
    background-color: white;
    position: relative;
  }

  footer{
     
     bottom:0;
    background-color: #223263;
    display: flex;
    width: 97.5%;
    height: 10rem;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: large;
    padding: 2rem;
   
  }
  .container__social-media-icons{
    display: flex;
    gap:3rem;
    height: 2rem;
  }
.product__box{
display: inline-block;
background-color: #ffffff;
width: 41rem;
height:43rem ;
border-radius: 1.2rem;
position: relative;
}

.product__box--image{
  height: 31rem;
  width: 41rem;
  border-top-right-radius: 1.1rem;
  border-top-left-radius: 1.1rem;
  

}
.product__box--details{
  display: block;
  margin-top: 1rem;
  margin-left: 1.7rem;
  font-size: 1.4rem;
  font-family:'Libre Baskerville',sans-serif;
  line-height: 2.9rem;
  
}

.product__box--brand-rating{
display: inline-flex;
gap: 3rem;
padding-top: 0.5rem;
font-size: 1.5rem;
}

.product__box--rating-cell{
display: inline-flex;
gap:0.5rem;
height: 1.743rem;
}

.product__box--pricing{
display: inline-flex;
line-height: 3.5rem;
gap:1rem;
padding-top: 0.6rem;
padding-left: 1.6rem;
  
}

.product__box--pricing .before-discount{
color: #848484;
text-decoration: line-through;
font-size: 1.6rem;
}
.product__box--pricing .offer{
  color: #0A8200;
  font-size: 1.7rem;
  font-weight: bold;
 
}



.product__box--buttons-container{
position: absolute;
margin-left: 28.7rem;
margin-top: -16rem;


}
.product__box--buttons-container .button{
    border-radius: 0.3rem;
    border-style: none;
    height: 4rem;
    width: 12rem;
    /* border-bottom-right-radius: 1rem; */
    font-family: 'Libre Baskerville',sans-serif;;
    display:none;
   
  }

.product__box--buttons-container .add-to-cart{
 
  background-color: #5fa059;
  font-size: 1.2rem;
  font-weight: bold;
  display:none;
  
}

.product__box--buttons-container .remove-from-cart{
  
  background-color: rgb(216, 108, 84);
  font-size: 1rem;
  font-weight: bold;
 
}


div[data-product-in-cart="false"]:hover  .add-to-cart{
  display: grid;
}

div[data-product-in-cart="true"]:hover  .remove-from-cart{
  display: grid;
}

#container__products-page{

display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

margin-top: 9rem;
margin-right: 0;
}


#beforeProductsSection{
  margin-top: 10rem;
  display: flex;
  float:right;
  height: 5rem;
  padding-right:5rem;
  gap:0.4rem;
  padding-bottom: 1rem;
}

.down__arrow{
height: 2rem;
}

.dropdown__options{
  
  position: absolute;
  margin-top: 2rem;
  width: 10rem;
  font-size:1.4rem;
  font-family:'Libre Baskerville',sans-serif;
}


.hidden{
  display: none;
}
.order__option:hover{
  background-color: rgb(201, 190, 190);
  cursor: pointer;
  font-size:1rem;
  width: 10rem;
  }

  #sorting-option{
    cursor: pointer;
  }

  .products__search-bar{

    width: 60rem;
    height: 4rem;
    color:#848484;
    border: none;
    background-color: #F0F0F0;
    margin-right: 0;
    position: relative;
    
  }
 
  .products__search-outline{
  
   width: 10rem;
   height: 2.1rem;
  position: absolute;
  margin-left: -1.2rem;
  margin-top: 1rem;
  }

  .sticky {
    position: fixed;
    top: 0  ;
    width: 100%;
    
  }
  .products__search-bar-container{
    padding-top: 1.7rem;
    display: flex;
    gap: 0rem;
    position: relative;
  }

  .products__search-outline--container{
    display: inline-block;
    width: 6rem;
    height: 4.2rem;
    margin-top: 0rem;
    background-color: #F0F0F0;
    margin-left: 0;
    position: relative;
  }

  .header__shop-logo{
    width: 5rem;
    height: 4.5rem;
    position: absolute;
    margin-left: 2.5rem;
    
  }

  .header__cart-symbol{
    width: 2.7rem;
    height: 2.3rem;
    position: absolute;
    margin-top: 0.4rem;
 
    
  }

  .container__cart-logo{
    background-color: white;
    position: relative;
    margin-left: 1rem;
    margin-right: 3rem;
    width: 5rem;
   
  }

  .container__product-details{
    display: flex;
    
    background-color: #F5F5F5;
    margin-top: 10rem;
    height:800px;
    
 
  }
.container__images--vertical{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 5rem;
  margin-right: 1rem;
  height: 10px;
}
.img__product--vertical{
  border-radius: 1rem;
  height:15rem ;
  width:15rem ;
 
}
.img__main-image{
  height:59rem ;
  width:68rem;
  border-radius: 1rem;
}
.container__main-image{
 margin-left: 0;
 margin-right: 0;
 height: 74rem;
}
.container__product-images{
  display: flex;
 padding: 0;
 margin-left: 0;
 margin-right: 0;
 
 
}
.container__product-description{
 
  width: 40%;
  margin-right:0;
  margin-left:6rem;
  padding: 1rem;
  
  line-height: 6.5rem;
}
.footer--sticky{
  position: fixed;
    top: 10rem  ;
  width: 40%;
  
}

.container__product-description p{
  font-size: 2.5rem;
}
.container__product-description > p:nth-of-type(2){
  font-size: 3.5rem;
}

.container__product-description > p:nth-of-type(1){
  font-size: 6rem;
}
.container__descripton--small{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.container__descripton--small p {
  line-height: 3.5rem;
  font-size: 2.5rem;
}
.container__product-details .product__box--pricing{
  padding: 0;
  font-size: 2rem;
}

.btns__product--details{
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  border: none;
  height: 50px;
  width: 200px;
  border-radius: 1rem;
}
.btn__add-to-cart{
  background-color: #002482;
  display: none;
}
.btn__remove-from-cart{
  background-color: rgb(197, 132, 40);
  display: none;
}

.container__product-details[data-product-in-cart='false'] .btn__add-to-cart{
display: inline-block;
}

.container__product-details[data-product-in-cart='true'] .btn__remove-from-cart{
  display: inline-block;
  }

  .container__stars--rating{
    display: flex;
    gap: 0.1rem;
    height: 2rem;
    margin-bottom: 5rem;
  }

  .container__stars--rating img{
    margin-left: 0;
    margin-right: 0;
   
  }
  .container__stars--rating p{
    display: block;
    margin-left:3rem;
    margin-top: -1rem;
    font-size:3rem;
  }

  .img--stars{
    height: 100px;
  }

  .container__img--stars{
    background: url('../images/all-stars.PNG') 1px -5px no-repeat;
    width: 244px;
    height: 44px;
    margin-left: 0;
    margin-right: 0;
  }

  .container__stars--rating[data-product-rating~='1'] .container__img--stars{
    background: url('../images/all-stars.PNG') 1px -185px no-repeat;
   
  }
  .container__stars--rating[data-product-rating~='2'] .container__img--stars{
    background: url('../images/all-stars.PNG') 1px -140px no-repeat;
   
  }
  .container__stars--rating[data-product-rating~='3'] .container__img--stars{
    background: url('../images/all-stars.PNG') 1px -95px no-repeat;
   
  }

  .container__stars--rating[data-product-rating~='4'] .container__img--stars{
    background: url('../images/all-stars.PNG') 1px -50px no-repeat;
   
  }

  .container__stars--rating[data-product-rating~='5'] .container__img--stars{
    background: url('../images/all-stars.PNG') 1px -5px no-repeat;
   
  }

  .section__similar-products{
    display: block;
    font-size: 30px;
    margin-top: 0;
    height: 1300px;
    
  }

  .section__similar-products h1{
    margin-left: 4rem;
  }

  .container__similar-products{
    display: flex;
  }

  .header__cart-symbol--phones{
    width: 2.7rem;
    height: 2.3rem;
    position: absolute;
    margin-top: 0.4rem;
    display: none;
  }

  @media only screen and (max-width: 1300px) and (min-width: 320px)  {
    .products__search-bar{
      
      width: 60%;
      width: 8%;
      background-color: white;
    }
    .products__search-bar:focus-within{
      width: 60%;
      background-color: #F0F0F0;
      border-radius: 2rem;
    }
    .header__shop-logo{
      display: none;
    }
    .products__search-bar-container{
    
      flex-direction: row;
      justify-content: flex-end;
      
    }
    .products__search-outline--container{
      margin-right: 0;
      background-color: white;
    }
    .product__box{
            width: 28rem;
            height:41rem;
            background-color: white;
           
    }
    .product__box--image{
      width: 28rem;
      height:25.4rem;
    }
    .product__box-title{
      font-style: italic;
      font-weight: bold;
      font-size: 1.1rem;
    }
      .product__box-description{
        font-size: 1.2rem;
        
      }
      
      .offer{
        font-size: 1px;
      }
      .product__box--buttons-container{
          margin-left: 15rem;
      }
      #container__products-page{
        margin-left: 10%;
        margin-right: 10rem;
        grid-template-columns: repeat(2, 0.4fr);
        gap: 3rem;
      }
   

      
      .header__cart-symbol{
        display: none;
      }
      .section__similar-products{
        display: none;
      }

      .header__cart-symbol--phones{
        display: grid;
      }

      .container__product-details{
        flex-direction: column;
      }

      .btns__product--details{
        position: absolute;
        margin-left: 83rem;
        margin-top: -148rem;
        
      }
      .container__product-details{
        margin-top: 15rem;
        background-color: white;
      }
      body{
        background-color: white;
      }
  }



  

